@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F2;
    background: #282828; 
    margin: 0px auto;
}

.container {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292C37;
    border-radius: 30px;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

.title {
    background-image: url(/assets/images/bg-test.png);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    height: 2em;
    width:  250px;
    outline: none;
    background-image: url(/assets/images/bg-test.png);
    background-size: cover;
    background-repeat: inherit;
    border: none;
    border-radius: 30px;
    margin: 20px;
    font-size: medium;
    font-weight:lighter;
    color: black;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #FF7373;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.form-group label {
    font-size: 16px;
    font-family: 'Montserrat Semibold', sans-serif;
    margin-bottom: 5px;
}
  
.form-group input,
.form-group select {
    background: #1A1A1A;
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #F8F8F2;
    font-size: 14px;
    padding: 0 15px;
    outline: none;
    transition: border-color 0.2s ease-in;
}
  
.form-group input:focus,
.form-group select:focus {
    border-color: #FF7373;
}

.form-group:first-child {
    margin-top: 40px;
}

#result-content {
    width: 100%;
    margin-bottom: 20px;
    height: 24px;
    text-align: center;
}
  